body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: var(--font-size-l);
  letter-spacing: 0.05em;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
