.cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 189px;
  height: 41px;
  border-radius: 20px;
  font-family: var(--font-family-buttons);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.color {
  background-color: var(--background-accent);
}
.transparent {
  color: var(--color-secondary);
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  margin-bottom: 52px;
}
.form.disabled {
  color: var(--color-form-btn-disabled);
  background-color: var(--background-form-btn-disabled);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
}
.form.active {
  color: var(--color-form-btn-active);
  background-color: var(--background-accent);
}
